@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: #1f2937;
  background: #f9fafb;
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
